:root {
  --black: #090909;
  --grey: #6e6e6e;
  --orange: #ff9c08;
  --hoverBtn: #e68c05;
}

html,
body {
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

body.locked {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 23px 38px;
  border-radius: 10px;
  transition: background-color 0.3s;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--hoverBtn);
}

.sign {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.section-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 42px;
  line-height: 58px;
}

@media screen and (max-width: 1024px) {
  .btn {
    padding: 15px 18px;
    font-size: 16px;
  }

  .sign {
    font-size: 14px;
    line-height: 18px;
  }

  .section-title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}
